* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
body {
  background-color: #222;
}
.card {
  width: 90vw;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 45px auto 10px;
  padding: 35px 35px;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media (min-width: 850px) {
  .card {
    width: 60vw;
  }
  .details {
    justify-content: space-between;
  }
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.error {
  margin-top: 15px;
  font-size: 19px;
  color: red;
  display: none;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 17px;
  height: 43px;
  flex: 1;
  margin-right: 18px;
  font-size: 14px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.search button i {
  font-size: 15px;
}

.weather-icon {
  margin-top: 10px;
  width: 200px;
}
.weather h1 {
  font-size: 65px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 20px;
  margin-top: 25px;
}
@media (max-width: 500px) {
  .details {
    flex-direction: column;
  }
  .col {
    margin-bottom: 25px;
  }
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 27px;
  margin-top: -6px;
}
